*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/image/logo.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
    width: 400px;
    position: relative;
    height: auto;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
    border-radius: 20px;
    font-family: 'roboto', sans-serif;
    padding: 30px 40px;
}
.form h1{
    height: auto;
    font-size: 50px;
    text-align: center;

}


.heading{
    opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

.imgg{
width: 10px;
height: 10px;


}
input,
.submit-btn{
    position: relative;
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    position: relative;
    color: white;
}

input:focus,
.submit-btn:hover{
    background:  rgb(209, 199, 199);
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}